<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
		<property name="connection.url">jdbc:hsqldb:mem:testdb;DB_CLOSE_DELAY=-1</property>
		<property name="connection.username">sa</property>
		<property name="connection.password"></property>

		<mapping class="pti.JobAdvertisement.model.Client" />
		<mapping class="pti.JobAdvertisement.model.Position" />

	</session-factory>
</hibernate-configuration>